
#divA {
  width: 480px;
  height: 75px;
  background-color: #454140;
}

#divB {
  width: 480px;
  height: 150px;
  background-color: #bd5734;
}

#divC {
  width: 480px;
  height: 125px;
  background-color: #a79e84;
}

#divD {
  width: 480px;
  height: 125px;
  background-color: #7a3b2e;
}

#divE {
  width: 240px;
  height: 250px;
  background-color: #454140;
}

#divF {
  width: 240px;
  height: 250px;
  background-color: #bd5734;
}

#divG {
  width: 240px;
  height: 250px;
  background-color: #a79e84;
}

#divH {
  width: 240px;
  height: 250px;
  background-color: #7a3b2e;
}

#divI {
  width: 480px;
  height: 80px;
  background-color: #454140;
}